.App {
  text-align: center;
}

.gameContainer {
  display: flex;
  justify-content: center;
}

.player,
.addPlayer {
  box-sizing: border-box;
  width: 170px;
  height: 170px;
  padding: 10px;
  margin: 10px;
}

.player {
  border: 1px solid black;
}

.player input {
  width: calc(100% - 10px);
}

.addPlayer {
  font-size: 30px;
}