* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

html {
    scroll-behavior: smooth
}

body {
    margin: 0;
}

header {
    background-color: #9dd7f1;
    color: #1a5482;
    padding: 10px;
}

header h1,
h2 {
    padding-right: 40px;
    font-size: 35px;

}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #9dd7f1;
    padding: 20px 0;
}

main {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}

main::before {
    content: "";
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/cc/%D7%96%D7%90%D7%9C_%D7%99%D7%A9%D7%99%D7%91%D7%AA_%D7%AA%D7%95%D7%A8%D7%AA_%D7%90%D7%9E%D7%AA_1.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.2;
}

table {
    border-collapse: collapse;
    margin: 40px auto;
    font-size: 30px;
}

caption {
    font-family: arial;
    font-size: 30px;
    font-weight: bold;
    background-color: #93ddf8;
    height: 30px;
    width: 200px;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid #1a5482;
    border-bottom-width: 0;
}

th {
    background-color: #009ad8;

}

td {
    background-color: #93ddf8;
}

th,
td {
    border: 2px solid #1a5482;
    padding: 7px;
}

ul a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #00638b;
    color: white;
    text-align: center;
    line-height: 28px;
    padding: 15px;
}

footer a {
    color: rgb(190, 190, 190);

}

.header-line {
    width: 100%;
    height: 10px;
    background-color: #009ad8;
}

.section-desc {
    text-align: center;
    font-size: 30px;
    margin: 60px;
    line-height: 50px;

}

.experience-images {
    border: 10px solid #00638b;
    border-radius: 10%;
    height: 200px;
    margin: 5px;
}

.link-button {
    width: 100px;
    list-style-type: none;
    background-color: #00638b;
    margin: 0 10px;
    padding: 10px 5px;
    text-align: center;
    font-size: 20px;
    border-radius: 3px;
}

.link-button:hover {
    background-color: #3cbeec;
    color: #00638b;
}

.ending {
    height: 175px;
}

#description,
#participants {
    scroll-margin-top: 5em;
}

#pictures {
    scroll-margin-top: 7em;
}

#pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}

#empty {
    height: 100px;
}

#logo {
    float: left;
    margin-top: 20px;
}

#nav-links {
    display: flex;
    margin: 0;
    padding-right: 5%;
}

@media only screen and (max-width: 768px) {

    table,
    caption {
        font-size: medium;
    }

    #participants {
        scroll-margin-top: 7em;
    }
}