.textEditor {
    height: 100vh;
    display: grid;
    grid-template-columns: 100px 500px;
    grid-template-rows: 350px 1fr;
    place-content: center;
}

.key {
    width: 30px;
    height: 30px
}

.keyRow {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 10px 0;
}

.optionsSection {
    padding: 10px 0;
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

.optionsSection button {
    flex-grow: 1;
}

#optionsBar {
    display: flex;
    flex-direction: column;
    padding: 10%;
}

#inputArea {
    border: 1px solid black;
}

#keyboard {
    grid-column: 2 / 3;
}